<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planing">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="note">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="document">
      <ion-icon name="document"></ion-icon>
      <ion-label>Documents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
