ion-tab-bar {
  --background: white;
  --border: none;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  height: 70px;
}

ion-tab-button {
  // --color-selected: #96a896;
  --color: #666666;
  // min-height: 60px;
  flex-direction: column;
  gap: 4px;
  background: transparent;
  transition: all 0.2s ease;

  ion-icon {
    font-size: 24px;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 50%;
    // background: #e0e0e0;
    color: #666666;
    transition: all 0.3s ease;
  }

  ion-label {
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    color: #666666;
    transition: color 0.3s ease;
  }
}

ion-tab-button.tab-selected {
  ion-icon {
    // background: #96a896;
    color: #96a896;
    transform: scale(1.05);
  }

  ion-label {
    color: #96a896;
    font-weight: 600;
  }
}

